.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.horiz {
  display: flex;
  flex-direction: row;
  justify-content: space-around;;
}

.image {
  position: relative;
  border: 1px solid #000;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.img {
  transform-origin: top left 0;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu {
  position: relative;
  top: -10px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  max-width: 512px;
  margin: 2em auto;
}
